<h1>Welcome to your CD Organizer</h1>
<h2> Right now you have no CD's in your collection</h2>
<!-- <h3><a href='/categories'>View Categories</a></h3> -->
<h3><a href='/artists_form.cshtml'>Add a new Cd to your collection</a></h3>
